<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900226588142-8c0800mesfvudu57v783n2g2msumoroa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900226588142-8c0800mesfvudu57v783n2g2msumoroa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900226588142-easg3g8jobp5c02d4ou9egthjm1p7rso.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCstmeXhlx15YGhoX6KtFuD3liN8twqLPk</string>
	<key>GCM_SENDER_ID</key>
	<string>900226588142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Zivaj</string>
	<key>PROJECT_ID</key>
	<string>zivaj-d5fa2</string>
	<key>STORAGE_BUCKET</key>
	<string>zivaj-d5fa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900226588142:ios:4ef77a43e7995e003742ff</string>
</dict>
</plist>