<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98152326268-bho2ptknq60b0um56454paaia546lq3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98152326268-bho2ptknq60b0um56454paaia546lq3i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>98152326268-8pr10utqg788t11vuj92n86cbi6h4kr8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBECbtHgd6-gwqnGFicyHzM5_hqx_N_hlA</string>
	<key>GCM_SENDER_ID</key>
	<string>98152326268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.WeddingMubarak</string>
	<key>PROJECT_ID</key>
	<string>wedding-mubarak-2ba17</string>
	<key>STORAGE_BUCKET</key>
	<string>wedding-mubarak-2ba17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98152326268:ios:38a797db3e1db60a8895f9</string>
</dict>
</plist>